html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-bottom: 0;
    margin: 20px 30px 0;
    color: rgb(1, 188, 212);
    font-size: 3.5em;
}

hr#MyShop {
    padding-top: 0;
    margin: 0 30px 25px;
    border: 1px solid rgb(1, 188, 212);
}

div#menu {
    margin: 0 20px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

div#menu button {
    background-color: rgb(244, 67, 54);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 100%
}

div#searchBar {
    margin: 20px 30px 30px;
}

label {
    display: block;
    font: 1.5em 'Fira Sans', sans-serif;
    color: rgb(255, 123, 100);
}

div#searchBar input.search {
    font-size: 40px;
    height: 68px;
    border: 2px solid rgb(244, 67, 54);
    border-radius: 10px;
    vertical-align: middle;
    width: 50%
}

div#searchBar input.submit {

    border: 2px solid rgb(244, 67, 54);
    background-color: rgb(244, 67, 54);
    color: white;
    font-size: 30px;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    vertical-align: middle;
}

input::placeholder {
    font-size: 40px;
    vertical-align: bottom;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

table {
    width: calc(100% - 40px);
    margin: 20px;
    border-collapse:separate;
    border-spacing: 10px;
}

table tr th {
    background-color: rgb(98, 239, 255);
    text-align: center;
    height: 100px;
    font-size: 25px;
}

th.name {
    width: 20%;
}

th.description {
    width: 40%;
}

th.price {
    width: 20%;
}

th.quantity {
    width: 20%;
}

td {
    height: 80px;
}

td.name {
    font-size: 30px;
}

td.description {
    font-size: 20px;
}

td.price {
    font-size: 40px;
    text-align:center;
}

td.quantity {
    font-size: 40px;
    text-align: center;
}

div.avg p{
    margin: 30px;
    font-weight: bold;
    font-size: 40px

}