<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/table.css">
</head>
<body>
    <h1>To Do List</h1>
    <a href="/todo/add">Add new todo!</a>
    <table>
        <tr>
            <th class="id">ID</th>
            <th class="title">Title</th>
            <th class="urgent">Urgent</th>
            <th class="done">Done</th>
        </tr>
        <tr th:each="todo: ${todos}">
            <td class="id" th:text="${todo.id}"/>
            <td class="title" th:text="${todo.title}"/>
            <td class="urgent" th:text="${todo.urgent}"/>
            <td class="done" th:text="${todo.done}"/>
            <td><form th:action="'/todo/delete/' + ${todo.id}" method="post"><input type="submit" value="Delete"></form></td>
            <td><form th:action="'/todo/' + ${todo.id} + '/edit'" method="get"><input type="submit" value="Edit"></form></td>
        </tr>
    </table>
</body>
</html>