<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<h1>My Shop</h1>
<hr id="MyShop">
<div id="menu">
    <button onclick="document.location='webShop'">ONLY AVAILABLE</button>
    <button onclick="document.location='webShop'">CHEAPEST FIRST</button>
    <button onclick="document.location='webShop'">CONTAINS NIKE</button>
    <button onclick="document.location='webShop'">AVERAGE STOCK</button>
    <button onclick="document.location='webShop'">MOST EXPENSIVE AVAILABLE</button>
</div>
<div id="searchBar">
    <label>Search for:</label>
    <input type="text" placeholder="Search...">
    <button onclick="document.location='webShop'">Search</button>
</div>
</body>
</html>