<div th:fragment="example" xmlns:th="http://www.w3.org/1999/xhtml">
    <p th:style="'font-size:' + ${size}" th:text="'Hello! Ez a weboldal ' + ${count} + ' alkalommal volt újratöltve az utolsó szerver újraindítás óta.'" />
    <p th:style="'font-size:' + ${size}" th:text="'Hello! Ez a weboldal ' + ${count} + ' alkalommal volt újratöltve az utolsó szerver újraindítás óta.'" />
    <p th:style="'font-size:' + ${size}" th:text="'Hello! Ez a weboldal ' + ${count} + ' alkalommal volt újratöltve az utolsó szerver újraindítás óta.'" />
    <p th:style="'font-size:' + ${size}" th:text="'Hello! Ez a weboldal ' + ${count} + ' alkalommal volt újratöltve az utolsó szerver újraindítás óta.'" />
</div>

<div th:fragment="example2" xmlns:th="http://www.w3.org/1999/xhtml">
    <p th:style="'font-size:' + ${size} + '; color: red;'" th:text="${count}" />
</div>